.Login{
  width:40%;
  margin:0 auto;
}


/* Dropdown Button */
.dropbtn {
    background-color:turquoise;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    box-shadow: 0px 8px 112px 22px rgba(0,0,0,0.8);
    z-index: 1;
    border-radius: none;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .form-control{
    box-sizing: border-box;
    background-color: aquamarine;
    -moz-box-align: center;
    box-shadow: black;
  
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: none;}

input[name=search] {
    width: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
input[name=search]:focus {
    width: 30%;
  }


  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }






  body, html {
    height: 100%;
    margin: 50 ;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .blog .bg-image {
   
    /* Add the blur effect */
    filter: blur(0px);
    -webkit-filter: blur(0px);
    
    /* Full height */
    height: 10%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: width=60px height=80px ;
  }
  
  /* Position text in the middle of the page/image */
  .blog .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.596); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 50px;
    text-align: center;
  }
  
  .blog .bg-text1 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.753); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 215%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 50px;
    text-align: center;
  }
  .blog .bg-text2 {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 355%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 65%;
    padding: 50px;
    text-align: center;
  }