{% extends 'main.html' %}
{% block content %}
{% csrf_token %}
{% comment %} <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    </form> {% endcomment %}



<div class="blog">
  <div class="bg-image">
    <img src="static/images/practice2.jpg" alt="Practice" style="width:100%;">
  </div>
  <a href="{% url 'practice' %}">
  <div class="bg-text">
    <h1>Practical worker</h1>
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
  </div></a>
  <hr>
</div>


<div class="blog">
  <div class="bg-image">
    <img src="static/images/startup1.jpg" alt="startup" style="width:100%;">
  </div>
  <a href="{% url 'startup' %}">
  <div class="bg-text1">
    <h1>Startupper</h1>
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
  </div>
  </a>
  <hr>
</div>



<div class="blog">
  <div class="bg-image">
    <img src="static/images/developer.jpg" alt="developer" style="width:100%;">
  </div>
  <a href="{% url 'developer' %}">
  <div class="bg-text2">
    <h1>Developer</h1>
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
  </div>
  </a>
  <hr>
</div>

<div>
	<a href="{% url 'sign_up' %}" align="center">
			<h2>JOIN US FOR FREE</h2>
	</a>
</div><hr>

{% endblock %}